h1 {
  color: rgb(221, 221, 16);
}

html,
.pt-5,
body {
  background-color: #f1c2e29e !important;
  margin: 0;
  padding: 0;
}

p {
  font-size: 18px;
  margin: 0 40px;
  padding: 20px;
}

.navbar .container-fluid {
  background-color: black;
}

.no-padding-navbar {
  padding: 0 !important;
}

img {
  height: 500px;
  object-fit: cover;
}

.logo-img {
  height: 50px;
  width: auto;
  object-fit: contain;
}

.navbar .nav-link {
  color: white !important;
}

.navbar .dropdown-menu {
  background-color: #343a40;
}

.navbar .dropdown-item {
  color: white !important;
}

.navbar .dropdown-item:hover {
  background-color: #495057;
  color: white;
}
.navbar .container-fluid .navbar-toggler {
  background-color: white;
}
.custom-carousel-wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.circle {
  width: 290px;
  height: 290px;
  background-color: #970d9f;
  border-radius: 50%;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  color: #ffffff;
  text-align: center;
  margin: 50px auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
.grid {
  display: flex;
  justify-content: center;
  gap: 20px;
}
